.footer {
  background: #f9d0cb;
}     

.footer ul li {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: #230903;
}

.footer ul li:first-child {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
  color: #230903;
}

.footerIcon {
  color: #230903;
  margin-right: 10px;
}